// colors

$blue-color-1: #181a43;
$blue-color-2: #022f83;
$blue-color-2-rgb: rgb(2, 47, 131);
$gray-color-1: #d1d1d1;
$white: #fff;

// Media Sizes
// Mobile first approach
$tab: "(min-width:576px)";
$tabL: "(min-width:768px)";
$ipadL: "(min-width:992px)";
$ipadXL: "(min-width:1025px)";
$desktop: "(min-width:1200px)";

// Desktop first approach
$ipadpro: "(max-width:1199.98px)";
$ipad: "(max-width:991.98px)";
$mobL: "(max-width:767.98px)";
$mob: "(max-width:575.98px)";
